.product__stand {
    background: #ffffff;
    padding: 20px;
    height: 310px;
    border-radius: 6px;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
    }
    .product__stand-price {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }
    .product__stand-description {
        color: #8b96a5;
        font-size: 16px;
        line-height: 1.5;
        height: 3em;
        overflow: hidden;

        text-overflow: ellipsis;
        p {
        }
    }
}
