.sidebar {
    background-color: #ffffff;
    margin-top: 20px !important;
    border-radius: 5px;
    padding: 10px;
}
.sidebar-left {
    display: flex;
    flex-direction: column;
    margin-right: -10px;

    p {
        color: #1c1c1c;
        padding: 5px 10px;
        margin-bottom: 10px;
        &:hover {
            background: #e5f1ff;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}
.banner-img {
    position: relative;
    img {
        width: 100%;
        height: 373px;
    }
    .text-sub {
        position: absolute;
        z-index: 1;
        top: 5rem;
        left: 3rem;
        h3 {
            font-size: 28px;
            font-weight: 400;
        }
        h2 {
            font-size: 32px;
            font-weight: 700;
        }
        button {
            background: #ffffff;
            color: #1c1c1c;
            border: none;
            padding: 10px 16px;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
.block-items {
    .user-info {
        background-color: #e3f0ff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        .user-info__top {
            display: flex;

            img {
                width: 44px;
                height: 44px;
            }
            h3 {
                padding-left: 10px;
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
            }
        }
        .join-now {
            margin-top: 15px;
            background: #127fff;
            color: #fff;
            font-size: 13px;
            &:hover {
                cursor: pointer;
            }
        }
        .login {
            margin-top: 15px;
            color: #0d6efd;
            font-size: 13px;
            background: #fff;
            border: 1px solid #dee2e7;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .block-orange {
        margin-top: 15px;
        background: #f38332;
        padding: 15px 10px;
        border-radius: 6px;
        h2 {
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }
    .block-aqua {
        margin-top: 15px;
        background: #55bdc3;
        padding: 15px 10px;
        border-radius: 6px;
        h2 {
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }
}
.product__deal {
    background: #fff;
    margin-top: 20px !important;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    .product__deal-count {
        padding-top: 10px;
        display: flex;
        flex-direction: column;

        .product__deal-count-header {
            h2 {
                color: #1c1c1c;
                font-size: 20px;
            }
            p {
                color: #8b96a5;
            }
        }
    }
    .product__deal-count-number {
        display: flex;
        font-size: 12px;
        text-align: center;

        p {
            margin-bottom: 2px;
            color: #ffffff;
            font-weight: 600;
        }
        .days {
            background: #606060;
            margin-right: 6px;
            width: 50px;
            height: 50px;
            padding: 3px;
            border-radius: 4px;
            .days__count {
                font-size: 16px;
            }
        }
        .hour {
            background: #606060;
            margin-right: 6px;
            width: 50px;
            height: 50px;
            padding: 3px;
            border-radius: 4px;

            .hour__count {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
        .min {
            background: #606060;
            margin-right: 6px;
            width: 50px;
            height: 50px;
            padding: 3px;
            border-radius: 4px;

            .min__count {
                font-size: 16px;
            }
        }
        .sec {
            background: #606060;
            margin-right: 0;
            width: 50px;
            height: 50px;
            padding: 3px;
            border-radius: 4px;

            .sec__count {
                font-size: 16px;
            }
        }
    }
}

.blockItemsGroup {
    margin-top: 20px !important;
    max-width: 100% !important;
}
@media (max-width: 576px) {
    .sidebar {
        padding: 0;
        .sidebar-left {
            display: none;
        }
        .banner-img {
            padding: 0;
        }
        .user-info {
            display: none;
        }
        .block-aqua {
            display: none;
        }
        .block-orange {
            display: none;
        }
    }

    .product__deal {
        .product__deal-count {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
