.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 88%);
    height: 235px;
    .product__image {
        img {
            max-width: 125px;
            max-height: 125px;
            object-fit: cover;
            width: auto;
            height: 140px;
        }
    }
    h3 {
        padding-top: 12px;
        margin-bottom: 15px;
        color: #1c1c1c;
        font-size: 16px;
        font-weight: 500;
        width: 122px;
        overflow: hidden;
        height: 30px;
        text-align: center;
    }
    p {
        color: #eb001b;
        padding: 5px 10px;
        background-color: #ffe3e3;
        border-radius: 29px;
        font-size: 14px;
    }
}
.swiper-slide {
    margin-right: 0px !important;
}
