.service-card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    margin-top: 20px;
    justify-content: center;
    img {
        width: 270px;
        height: 130px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        object-fit: cover;
    }
    p {
        position: absolute;
        z-index: 2;
        right: 20px;
        bottom: 40px;
        background: #d1e7ff;
        padding: 10px 15px;
        border-radius: 50%;
    }
    .service-card__text {
        width: 175px;
        margin-top: 15px;
        padding-left: 15px;
        margin-bottom: 10px;

        h4 {
            color: #1c1c1c;
            line-height: 22px;
            font-size: 15px;
        }
    }
}
