.product__image {
    padding: 0px 10px;
    background-color: #fff;
    margin-top: 20px;
    img {
        height: 345px;
        width: 345px;
        object-fit: cover;
        border: 1px solid #dee2e7;
        border-radius: 6px;
    }
    .product__image-thumb {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        img {
            height: 48px;
            object-fit: cover;
            width: 100%;
        }
        div {
            border: 1px solid #dee2e7;
            background: #fff;
            width: 20%;
            margin: 20px 10px;
            border-radius: 6px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.product__content {
    padding: 20px 10px 20px 10px;
    p {
        margin-bottom: 0;
    }
    .in__stock {
        display: flex;
        align-items: center;
        color: #00b517;
        font-size: 16px;
        p {
            padding-left: 10px;
        }
    }
    .product__content-title {
        padding-top: 5px;
        font-size: 20px;
        color: #1c1c1c;
    }
    .product__content-evaluate {
        display: flex;
        font-size: 16px;

        .comment {
            display: flex;
            align-items: center;
            color: #787a80;
            p {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .sold {
            display: flex;
            align-items: center;
            color: #787a80;
            p {
                padding-left: 10px;
            }
        }
    }
    .product__content-detail {
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 0 10px 0;

        .items {
            display: flex;
            font-size: 16px;
            color: #505050;

            p {
                padding: 10px 0;
                &:first-child {
                    width: 160px;
                }
            }
        }
    }
}
.supplier {
    padding: 20px 10px;
    border: 1px solid #dee2e7;
    border-radius: 6px;
    margin-top: 20px;
    .supplier__title {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        img {
            width: 48px;
            height: 48px;
            border-radius: 6px;
        }
        .supplier__title-name {
            width: 70%;
            font-size: 16px;
            color: #1c1c1c;
            padding-left: 10px;
            font-weight: 400;
        }
    }
    .supplier__info {
        .supplier__info-item {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #8b96a5;
            font-weight: 400;
            padding-top: 10px;
            img {
                width: 21px;
                height: 15px;
            }
            p {
                margin-bottom: 0;
                padding-left: 10px;
            }
            svg {
                width: 21px;
                height: 15px;
            }
        }
    }
    .supplier__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            width: 248px;
            height: 40px;
            font-size: 16px;
            border-radius: 6px;
            margin-top: 10px;
        }
        .supplier__button-inquiry {
            color: #ffffff;
        }
        .supplier__button-profile {
            button {
                background: #ffffff;
                color: #0d6efd;
                border: 1px solid #dee2e7;
            }
        }
    }
}
.save__later {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        margin: 10px;
        width: 248px;
        height: 40px;
        border-radius: 6px;
        font-size: 16px;
        background-color: #ffffff;
        color: #0d6efd;
    }
    span {
        padding-left: 10px;
    }
}
