.block__items {
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 6px;
    h3 {
        padding: 20px 0 0 20px;
        margin-bottom: 0;
        font-size: 20px;
        color: #1c1c1c;
    }
}
