.blockItems__left {
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    .blockItems__left-text {
        padding: 20px;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 170px;
        font-size: 20px;
        color: #1c1c1c;
        h3 {
            line-height: 26px;
        }
    }
    img {
        height: 254px;
        width: 100%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    button {
        background-color: #fff;
        color: #1c1c1c;
        padding: 10px 16px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid white;
        border-radius: 6px;
        margin-top: 20px;
    }
}
.blockItemsGroup__right {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding-right: 0px !important;
    width: 100%;
}
