.block-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    .block-items__service {
        flex-basis: 25%;
        margin: 5px;
        padding: 10px;
    }
}
.title {
    padding-left: 0;

    h2 {
        font-size: 24px;
        color: #1c1c1c;
        font-weight: 600;
    }
}

@media (max-width: 576px) {
    .block-items {
        padding: 0 !important;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto !important;
        -ms-overflow-style: none; /* IE và Edge */
        scrollbar-width: none; /* Firefox */
    }
    .block-items::-webkit-scrollbar {
        display: none; /* Chrome, Safari và Opera */
    }
    .title {
        h2 {
            font-size: 18px;
        }
    }
}
